body {
  background: #e4c5d7;
  font-family:cursive;
  color: rgb(42, 3, 22);
}

main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  font-weight: 1000;
  border: silver;
  background: #749094;
  padding: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

footer {
  color: black;
  position: absolute;
  bottom: 0;
}
